.header-top{
    padding-top: 10px;
    background-color: black; 
}
.header-top .container{
    min-height: 30px;
}

.header-top-left{
    float: left;
}

.header-top-left ul li{
    margin-right: 15px; 
}

.header-top-left ul li a{
    font-size: 15px;
    color: white;
    text-decoration:none;
}

.header-top-right{
    float: right;
}

.header-top-right ul li a{
    font-size: 15px;
    color: white;
    text-decoration:none;
}

.header-bottom .container{
    min-height: 90px;
}

.header-bottom ul{
    margin-top: 20px;
}

.header-bottom a{
    font-size: 25px;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}

#pictureCarousel{
    max-height: 500px;
}

.production .container{
    margin-top: 10px; 
    margin-bottom: 20px; 
    min-height: 600px;
}

h2{
    font-family: "Microsoft YaHei";
    font-weight: 100;
}

.shopItem{
    margin-top: 5px; 
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px; 
    height: 250px;
    border: 1px solid gray;    
}