body {
    background-color: #f2f2f2;
}

.header-top {
    padding-top: 10px;
    background-color: black;
}

.header-top .container {
    min-height: 30px;
}

.header-top-left {
    float: left;
}

.header-top-left ul li {
    margin-right: 15px;
}

.header-top-left ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header-top-right {
    float: right;
}

.header-top-right ul li a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.header-bottom .container {
    min-height: 90px;
}

.header-bottom ul {
    margin-top: 20px;
}

.header-bottom a {
    font-size: 25px;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#pictureCarousel {
    max-height: 500px;
}

.production .container {
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 600px;
}

h2 {
    font-family: "Microsoft YaHei";
    font-weight: 100;
    margin-bottom: 35px;
}

.shopItem {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 250px;
    background-color: white;
}

.shopInfo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    height: 80px;
    background-color: white;
}

.shopInfo p.name {
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 20px;
    text-align: center;
}

.shopInfo p.price {
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
}

.shopItem-new {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    height: 250px;
    background-color: white;
}

.shopItem-new h3 {
    font-size: 30px;
    font-family: "Microsoft YaHei";
    padding-top: 20px;
    margin-top: 0px;
    margin-left: 20px;
}

.shopItem-new p {
    margin-left: 40px;
    font-size: 20px;
    font-family: "Microsoft YaHei";
    font-weight: 200;
}

.footer {
    margin-top: 70px;
    padding-top: 20px;
    background-color: grey;
}

.footer .container {
    min-height: 40px;
}

.footer .has-border {
    padding-right: 15px;
    border-right: 2px solid white;
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

#no-border {
    font-size: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.header-bottom button.navbar-toggle {
    width: 44px;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
}